.container1,
.container2,
.container3 {
  margin: 15em;
  margin-top: 5em;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
  padding: 20px;
}

.photo-container1,
.photo-container2,
.photo-container3 {
  width: 100%;
  margin-left: -10%;
}

.photo1,
.photo2,
.photo3 {
  width: 70%;
}

.header1,
.header2,
.header3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.text1,
.text2,
.text3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.button1,
.button2,
.button3 {
  padding: 10px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
